.page_container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

.cart_container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.list_of_products {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 50% 10% 15% 5%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  background-color: #eee;
  box-sizing: content-box;
  padding: 2px;
}

.list_of_products img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.item_title_descr {
  width: 100%;
  text-indent: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}

.titles_in_card {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  width: 100%;
  padding-left: 15%;
  text-decoration: underline;
}

.amount_cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.plus_min_btn {
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  font-size: 16px;
  cursor: pointer;
}

.general_sum {
  display: flex;
  justify-content: flex-end;
  color: #0068d7;
  font-size: 22px;
  font-weight: 600;
  border: 2px #0068d7 solid;
  box-sizing: content-box;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.loading {
  color: blue;
}

.container_for_delivery_and_person {
  width: 100%;
  height: 100%;
  display: grid;
  border: rgba(26, 41, 47, 255) 2px solid;
  margin-top: 20px;
  border-radius: 3px;
}

.container_for_input_and_cities {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.cont_for_city_and_dep {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cont_for_city_and_dep select {
  width: 350px;
  height: 50px;
}

.cont_for_input_city {
  width: 350px;
  height: 70px;
  border: #0068d7 1px solid;
  border-radius: 3px;
}

.container_for_payment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contaiern_for_inputs_row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contaiern_for_input_row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}

.contaiern_for_input_row label {
  font-weight: 600;
  font-size: 20px;
}

.check_boxs_cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 20px;
}

.cont_for_but {
  position: relative;
}

.cont_for_but > svg {
  position: absolute;
  top: 18px;
  right: -14px;
  width: 28px;
  height: 28px;
  background-color: white;
  color: #0068d7;
  border-radius: 50%;
}

.check_box_cont {
  width: 350px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  border: #d43200 1px solid;
  padding: 15px 25px 15px 25px;
  border-radius: 3px;
  height: 70px;
}

.check_box_cont_checked {
  width: 350px;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: 18px;
  gap: 10px;
  cursor: pointer;
  font-weight: 600;
  border: #0068d7 2px solid;
  padding: 15px 25px 15px 25px;
  border-radius: 3px;
  height: 70px;
  box-shadow: 5px 2px 2px #0068d7;
}

.cont_for_but input {
  cursor: pointer;
  display: none;
}

.fetched_cities {
  top: 55px;
  left: 0;
  width: 450px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: #0068d7 2px solid;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  max-height: 300px;
  overflow-y: scroll;
}

.fetched_city {
  border-bottom: #eee 1px solid;
  width: 100%;
  text-align: center;
  height: 30px;
  font-size: 18px;
  box-sizing: content-box;
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fetched_city:hover {
  width: 100%;
  background-color: #7db0f7;
}

.new_post_input_city {
  width: 350px;
  height: 50px;
  border: grey solid 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-indent: 10px;
}

.submit_order_btn {
  width: 30%;
  height: 50px;
  margin-top: 20px;
  background: linear-gradient(
    to bottom,
    #f83b00 0%,
    #d43200 100%,
    #7db9e8 100%
  );
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.lds_facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds_facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #f37c2e;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds_facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds_facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds_facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.box {
  position: relative;
  border-radius: 3px;
  width: 350px;
}

.input_pass {
  transition: all 0.2s;
  touch-action: manipulation;
  cursor: text;
  border-radius: 5px;
  border: 2px solid gray;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 18px;
  border: #132530 2px solid;
}

.label_pass {
  position: absolute;
  top: 20px;
  left: 12px;
  color: black;
  font-size: 14px;
  transition: all 0.2s;
  /*enable click everywhere inside input */
  pointer-events: none;
}

.input_pass::placeholder {
  opacity: 0;
  color: black;
  font-size: 21px;
}

/*make the placeholder disappear on focus*/

.input_pass:focus {
  outline: none;
  border: #0067d7 solid 2px;
}

.input_pass:placeholder-shown + .label_pass {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -webkit-transform: translate(0, 0) scale(1.5);
  -moz-transform: translate(0, 0) scale(1.5);
  -ms-transform: translate(0, 0) scale(1.5);
  -o-transform: translate(0, 0) scale(1.5);
  color: grey;
}

.input_pass:focus + .label_pass,
.input_pass:not(:placeholder-shown) + .label_pass {
  -webkit-transform: translate(2px, -30px) scale(1);
  -moz-transform: translate(2px, -30px) scale(1);
  -o-transform: translate(2px, -30px) scale(1);
  -ms-transform: translate(2px, -30px) scale(1);
  padding: 0 3px;
  background-color: white;
  color: #0067d7;
}

.input_pass:focus + .label_pass::after,
.input_pass + .label_pass::after {
  content: ' ';
  display: block;
  position: absolute;
  background: white;
  top: 50%;
  left: -0.2em;
  right: -0.2em;
  z-index: -1;
  padding: 0 3px;
}

.input_pass:not(:placeholder-shown) + .label_pass::after {
  left: -0.1em;
  right: -0.1em;
}

@media all and (max-width: 740px) {
  .cart_container {
    width: 95%;
    padding: 10px;
    text-align: center;
  }

  .list_of_products {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 15% 50% 20% 15%;
    grid-template-rows: 100%;
    align-items: center;
  }

  .list_of_products img {
    width: 50px;
    height: 50px;
  }

  .item_title_descr {
    font-size: 12px;
  }

  .general_sum {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .container_for_delivery_and_person {
    display: flex;
    flex-direction: column;
  }

  .container_for_input_and_cities {
    padding: 5px;
  }
  .container_for_payment {
    padding: 5px;
  }

  .contaiern_for_inputs_row {
    flex-direction: column;
    height: auto;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contaiern_for_input_row {
    padding: 2px;
  }

  .fetched_cities {
    top: 50px;
    width: 250px;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
  }

  .fetched_city {
    width: 97%;
    font-size: 18px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: content-box;
    padding: 3px;
  }

  .check_boxs_cont {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }

  .check_box_cont {
    font-size: 14px;
    justify-content: flex-start;
  }

  .titles_in_card {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .submit_order_btn {
    width: 80%;
  }

  .check_box_cont {
    width: 250px;
    font-size: 14px;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
    border: #d43200 1px solid;
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
    height: 60px;
  }

  .check_box_cont_checked {
    width: 250px;
    font-size: 14px;
    gap: 8px;
    cursor: pointer;
    font-weight: 600;
    border: #0068d7 2px solid;
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
    height: 60px;
    box-shadow: 5px 2px 2px #0068d7;
  }

  .cont_for_city_and_dep {
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  .cont_for_city_and_dep select {
    width: 250px;
    height: 50px;
  }

  .box {
    width: 250px;
  }
}
