.main_container {
  width: 100%;
  min-height: 70vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_for_search_and_promo {
  width: 80%;
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  gap: 30px;
  height: 430px;
}

.search_form {
  min-height: 100%;
  min-width: 40%;
  border-top: 2px solid #0067d7;
  border-bottom: 2px solid #0067d7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.text_about_company {
  font-size: 18px;
  width: 95%;
  text-indent: 10px;
  padding-left: 10px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text_about_company div {
  border: #353535 1px solid;
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.text_about_company div h3 {
  position: absolute;
  top: -16px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: white;
  color: #0067d7;
  font-size: 20px;
  font-weight: 600;
  border: #0067d7 1px solid;
  border-radius: 5px;
  background-color: #0067d7;
  color: white;
}

.container_search_form {
  width: 85%;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select_car_title {
  font-size: 16px;
  color: #353535;
  font-weight: 600;
  display: flex;
  justify-items: center;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.select_container {
  width: 100%;
  border: #dddee0 solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 3px;
  height: 50px;
  position: relative;
  padding-right: 20px;
}

.container_search_form select {
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  text-indent: 60px;
  cursor: pointer;
  font-size: 16px;
  scrollbar-color: red;
  scrollbar-width: thin;
}

.container_search_form select:focus {
  outline: none;
}

.container_search_form select:focus {
  border: none;
}

.container_for_brands h2 {
  background-color: #f37c2e;
  padding: 7px;
  box-sizing: content-box;
  border-radius: 3px;
  text-indent: 20px;
  width: 100%;
}

.number {
  background-color: #0067d7;
  height: 50px;
  width: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: 50px;
  position: absolute;
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 20px;
}

.search_button {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: #0067d7;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.cannot_find_part {
  width: 85%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cannot_find_part_title {
  width: 100%;
  height: 40px;
  border: 2px #f37c2e solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  transition: 0.25s;
  cursor: pointer;
}

.cannot_find_part_title:hover {
  background-color: #f37c2e;
  color: white;
}

.promo_container {
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 20px;
  border-radius: 5px;
  background-color: #dddee0;
  width: 100%;
  height: 100%;
}

.imag_contaier {
  max-width: 80%;
  height: 430px;
  max-height: 100%;
  /* width: 80%;
  max-width: 80%;
  max-height: 100%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-image: url('https://backend.bayrakparts.com/images/media/baner_new_small.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.imag_contaier img {
  height: 100%;
  max-width: 100%;
}

.arrow_cont {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f37c2e;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.container_for_brands {
  width: 80%;
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
  gap: 30px;
  flex-direction: column;
}

.container_for_items_row {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  row-gap: 20px;
}

.categories_in_mobile_only {
  display: none;
}

.error_form {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: red;
}

.why_we {
  padding-top: 30px;
  padding-bottom: 15px;
}

.our_descr {
  padding-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.our_descr_for_reviews {
  padding-top: 15px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 33%);
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.our_desc1 {
  width: 30%;
  height: 75px;
  border: #132530 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  box-sizing: content-box;
  position: relative;
}

.our_desc2 {
  width: 30%;
  min-height: 200px;
  border: #132530 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  box-sizing: content-box;
  gap: 10px;
}

.our_desc2 img {
  max-width: 90%;
  max-height: 90%;
}

.our_desc1 svg {
  position: absolute;
  top: -20px;
  height: 40px;
  width: 40px;
  background-color: white;
  padding-right: 5px;
  padding-left: 5px;
  color: #ff471a;
}

.new_container_for_question {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.cont_for_col_questions {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.cont_for_question {
  background-color: #a4abb5;
  height: 40px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 600;
  gap: 5px;
}

.cont_for_question svg {
  color: #132530;
}

.answer_cont {
  width: 100%;
  border: solid 1px #a4abb5;
  text-align: left;
  padding: 5%;
  font-size: 18px;
}

.review_cont {
  margin-top: 10px;
  position: relative;
  width: 95%;
  height: 90px;
  border-radius: 45px;
  background: linear-gradient(to left, #e0e0e0, #b4b4b4);
  display: flex;
  align-items: start;
  padding-top: 10px;
  justify-content: start;
  padding-left: 100px;
  flex-direction: column;
  cursor: pointer;
}

.comment_cont {
  position: absolute;
  top: -15px;
  right: 17px;
  height: 35px;
  padding: 8px;
  background-color: #f37c2e;
  border-radius: 17px;
  color: white;
}

.commentar {
  border: 1px solid #a4abb5;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  text-align: right;
  position: relative;
}

.commentar_cont {
  display: flex;
  justify-content: flex-end;
}

.add_comment_cont {
  padding: 15px;
  border: #a4abb5 2px solid;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cont_for_buttons {
  display: flex;
  justify-content: space-between;
}

.cont_for_label_and_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cont_for_label_and_input input {
  height: 30px;
  border-radius: 3px;
  text-indent: 10px;
  border: #b4b4b4 2px solid;
}

.add_direct_comment {
  width: 40%;
  height: 26px;
  border-radius: 13px;
  background-color: #0067d7;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.add_direct_comment_escape {
  width: 40%;
  height: 26px;
  border-radius: 13px;
  background-color: #ff471a;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.from_for_coment {
  position: absolute;
  background-color: white;
  color: #0067d7;
  font-size: 12px;
  top: -12px;
  padding: 4px;
  font-weight: 600;
  text-align: 12px;
}

.review_cont_full {
  margin-top: 10px;
  position: relative;
  width: 95%;
  height: 90px;
  border-radius: 45px;
  background: linear-gradient(to left, #e0e0e0, #b4b4b4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add_comment_btn {
  width: 30%;
  border: none;
  cursor: pointer;
  background-color: white;
  color: #0067d7;
  font-weight: 600;
}

.review_cont img {
  position: absolute;
  max-height: 70px;
  top: 10px;
  left: 10px;
}

.starts_cont {
  display: flex;
  gap: 2px;
}

.starts_cont svg {
  width: 27px;
  height: 27px;
  color: #f8bf05;
}

.review_cont span {
  font-weight: 600;
  font-size: 17px;
  padding-top: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.review_cont span div {
  font-weight: 500;
  font-size: 16px;
}

.review_cont button {
  border: none;
  background: none;
  padding-top: 3px;
  cursor: pointer;
}

.review_cont button:hover {
  text-decoration: underline;
}

.bottom_of_reviews {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.leave_review_btn {
  width: 200px;
  height: 36px;
  border: none;
  background-color: #0067d7;
  border-radius: 18px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
}

.blog_container a {
  border: #0067d7 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.blog_container a {
  font-size: 20px;
  text-decoration: dotted;
}

.more_review_btn {
  width: 200px;
  height: 36px;
  background: none;
  border: #a4abb5 2px solid;
  border-radius: 18px;
  color: #a4abb5;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.text_review {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.text_review_opened {
  font-size: 14px;
  text-overflow: ellipsis;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cont_for_full_review_with_comments {
  display: flex;
  flex-direction: column;
  gap: 14px;
  transition: 0.2s;
  margin-bottom: 10px;
  width: 100%;
}

.text_review_full {
  font-size: 13px;
  width: 90%;
}

.cont_for_review_and_coments {
  display: flex;
  flex-direction: column;
}

.comment_message {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}

.comment_date {
  font-size: 12px;
}

@media all and (max-width: 1300px) {
  .select_container {
    gap: 8px;
    height: 30px;
  }
  .search_button {
    height: 30px;
    font-size: 15px;
  }
  .search_form {
    gap: 5px;
  }

  .container_for_search_and_promo {
    width: 90%;
  }
  .container_for_brands {
    width: 90%;
    gap: 10px;
  }

  .container_for_items_row {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media all and (max-width: 1100px) {
  .select_container {
    gap: 8px;
    height: 28px;
  }
  .search_button {
    height: 28px;
    font-size: 15px;
  }
  .search_form {
    gap: 2px;
  }

  .container_for_search_and_promo {
    width: 95%;
  }
  .container_for_brands {
    width: 95%;
  }

  .container_for_items_row {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media all and (max-width: 600px) {
  .promo_container {
    display: none;
  }

  .container_for_search_and_promo {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    min-height: 450px;
    gap: 30px;
    justify-content: space-between;
  }

  .search_form {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .container_search_form {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .select_container {
    gap: 8px;
    height: 50px;
  }

  .number {
    height: 50px;
  }

  .search_button {
    height: 50px;
    margin-bottom: 10px;
  }

  .cannot_find_part {
    width: 100%;
  }

  .cannot_find_part_title {
    height: 45px;
    font-size: 14px;
  }

  .container_for_items_row {
    grid-template-columns: 50% 50%;
  }

  .container_for_brands {
    width: 100%;
    height: 100%;
    padding: 15px;
  }

  .container_for_brands h2 {
    text-indent: 10px;
    font-size: 21px;
    font-weight: 600;
    padding: 0;
    background-color: #f37c2e;
    padding: 7px;
    box-sizing: content-box;
    border-radius: 3px;
  }

  .our_descr {
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .our_desc1 {
    width: 90%;
    margin-top: 30px;
    height: 55px;
  }

  .our_desc2 {
    width: 90%;
    min-height: 150px;
    border: #132530 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    box-sizing: content-box;
    gap: 7px;
  }

  .category_link_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  .categories_in_mobile_only {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .category_link {
    width: 98%;
    border: #f37c2e 1px solid;
    color: #132530;
    border-radius: 2px;
    height: 40px;
    gap: 12px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 600;
  }

  .new_container_for_question {
    flex-direction: column;
  }

  .cont_for_col_questions {
    width: 100%;
  }

  .cont_for_question {
    height: 55px;
    text-align: left;
  }

  .our_descr_for_reviews {
    padding-top: 15px;
    max-width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 100%; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0px;
  }

  .starts_cont svg {
    width: 22px;
    height: 22px;
    color: #f8bf05;
  }

  .review_cont {
    width: 100%;
  }

  .commentar {
    width: 75%;
  }

  .add_direct_comment {
    height: 45px;
  }

  .add_direct_comment_escape {
    height: 45px;
  }

  .text_about_company {
    margin-top: 20px;
    text-align: center;
  }

  .text_about_company div h3 {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
